/* Custom CSS for extra responsiveness */
@media (max-width: 640px) {
  .text-4xl {
    font-size: 2rem;
  }
}

/* Custom CSS for Mobile Menu Overlay */
#mobile-menu {
  transition: opacity 0.3s ease;
}

#mobile-menu div {
  transition: transform 0.3s ease;
}

/* Remove or update conflicting .card class */ */
 .card {
  background-color: #1f2937;
  color: #f3f5f6;
}

/* Use Tailwind's dark mode instead of custom dark mode CSS */
/* body {
  background-color: #111827;
  color: #f3f4f6;
}

header {
  background-color: #1f2937;
}

#mobile-menu div {
  background-color: #1f2937;
}

#projects {
  background-color: #374151;
}

footer {
  background-color: #111827;
}

input,
textarea {
  background-color: #1f2937;
  color: #f3f4f6;
  border-color: #374151;
} */